In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.campaignsalessummary
LIMIT 10

campaign_id,campaign_name,start_date,end_date,total_sales,total_transactions,unique_customers
CAMP_003,Summer Sizzle Promo,2024-07-19,2024-12-20,150346.49000000002,52,45
CAMP_007,New Year Kickoff,2024-02-16,2024-06-14,149802.28999999998,47,36
CAMP_024,Red Tag Clearance,2024-01-27,2024-02-24,146229.25999999998,47,32
CAMP_040,12 Days of Deals,2024-07-11,2024-08-14,140689.26000000004,49,37
CAMP_050,Smart Shopper Week,2024-03-22,2024-11-23,139637.36,50,37
CAMP_001,Winter Wonders Sale,2024-05-09,2024-10-17,135989.90000000002,43,32
CAMP_006,Mega Weekend Bonanza,2024-02-06,2024-02-10,135622.71999999994,47,34
CAMP_018,Birthday Bash Sale,2024-06-12,2024-10-24,132995.25000000003,43,33
CAMP_014,Super Savings Week,2024-10-23,2024-11-20,131941.59999999998,43,27
CAMP_045,Happy Hour Discounts,2024-06-21,2024-12-07,130831.18999999999,49,36

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.customersegmentsalessummary
LIMIT 10

customer_segment,residential_location,total_sales,total_transactions,unique_customers
In-Store Regular,Jacksonville,32762.85,10,10
Premium Shopper,Oakland,31651.859999999997,9,9
Online Shopper,Nashville,24804.55,8,7
Premium Shopper,San Diego,24494.730000000003,7,7
Loyal Customer,Colorado Springs,23873.15,6,6
Online Shopper,Sacramento,22817.91,6,6
Occasional Shopper,Boston,22742.27,9,9
High Value,Tampa,21868.980000000003,6,4
Online Shopper,Tulsa,21230.309999999998,6,6
Deal Seeker,San Jose,20947.550000000003,7,6

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.dailycampaignsales
LIMIT 10

campaign_id,campaign_name,full_date,daily_sales,transactions,unique_customers
CAMP_001,Winter Wonders Sale,2024-02-06,26958.370000000003,9,7
CAMP_001,Winter Wonders Sale,2024-02-07,18574.01,5,4
CAMP_001,Winter Wonders Sale,2024-02-08,33614.98,11,10
CAMP_001,Winter Wonders Sale,2024-02-09,23656.719999999998,7,4
CAMP_001,Winter Wonders Sale,2024-02-10,33185.82,11,7
CAMP_002,Spring Splash Discounts,2024-01-27,5784.1900000000005,3,2
CAMP_002,Spring Splash Discounts,2024-01-28,3859.89,1,1
CAMP_002,Spring Splash Discounts,2024-01-29,3305.08,1,0
CAMP_002,Spring Splash Discounts,2024-01-30,4544.13,1,1
CAMP_002,Spring Splash Discounts,2024-02-01,4797.26,1,1

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.dailymonthlysalessummary
LIMIT 10

full_date,year,month,total_sales,num_transactions
2024-01-05,2024,1,4898.38,1
2024-01-10,2024,1,3276.56,1
2024-01-11,2024,1,3587.64,1
2024-01-15,2024,1,5563.87,2
2024-01-16,2024,1,2358.86,1
2024-01-17,2024,1,7979.889999999999,2
2024-01-18,2024,1,3574.43,1
2024-01-19,2024,1,4023.87,1
2024-01-25,2024,1,8849.27,2
2024-01-26,2024,1,6542.6900000000005,3

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.dailystoresales
LIMIT 10

store_id,store_name,store_location,full_date,daily_sales,transactions
STR_00140,Roomify,Louisville,2024-01-05,4898.38,1
STR_00475,HyperMart,El Paso,2024-01-10,3276.56,1
STR_00234,FabNest,Mesa,2024-01-11,3587.64,1
STR_00392,SportShack,Atlanta,2024-01-15,3463.75,1
STR_00110,Trendify,Washington,2024-01-15,2100.12,1
STR_00378,ElectroPoint,Oklahoma City,2024-01-16,2358.86,1
STR_00335,DailyDeals,Boston,2024-01-17,4328.44,1
STR_00410,ModernMart,Tulsa,2024-01-17,3651.45,1
STR_00023,UrbanGear,San Jose,2024-01-19,4023.87,1
STR_00295,ModernMart,Arlington,2024-01-25,4491.7,1

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.monthlysalesbycategory
LIMIT 10

category,year,month_name,total_sales,transactions
Clothing,2024,January,31777.159999999996,10
Furniture,2024,January,13267.65,4
Groceries,2024,January,12875.759999999998,4
Home Appliances,2024,January,12719.189999999999,6
Sports & Outdoors,2024,January,9114.51,3
Electronics,2024,January,4491.7,1
Home Appliances,2024,February,100583.81,35
Sports & Outdoors,2024,February,73806.93000000001,26
Clothing,2024,February,63731.06,25
Furniture,2024,February,62184.87,24

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.monthlysalesbysalesperson
LIMIT 10

salesperson_id,salesperson_name,salesperson_role,year,month,total_sales,transactions
SP01152,Kimberly Salazar,Manager,2024,1,4981.59,1
SP00462,Jennifer Crawford,Salesperson,2024,1,4898.38,1
SP00084,Sheena Powers,Senior Salesperson,2024,1,4864.47,1
SP01827,Martin Gonzales,Sales Associate,2024,1,4544.13,1
SP01726,Brooke Clark,Sales Associate,2024,1,4491.7,1
SP00038,Randy Robinson,Manager,2024,1,4357.57,1
SP01670,Tara Miller,Manager,2024,1,4328.44,1
SP00978,Jerry Gonzalez,Manager,2024,1,4023.87,1
SP01269,Amanda Thompson,Sales Associate,2024,1,3859.89,1
SP01745,Kyle Jackson,Manager,2024,1,3651.45,1

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.salespersonsalessummary
LIMIT 10

salesperson_id,salesperson_name,salesperson_role,total_sales,total_transactions
SP00466,Christopher Duncan,Manager,24526.919999999995,8
SP01375,Shane Dyer,Salesperson,17520.22,6
SP00879,Timothy Wright,Senior Salesperson,17415.45,6
SP00555,Joshua Silva,Salesperson,17145.74,5
SP00063,Philip Sullivan,Salesperson,16896.96,5
SP01380,Michael Bruce,Manager,16302.99,4
SP01512,Julie Wells,Manager,15522.7,4
SP01389,Sheri Walker,Manager,15437.439999999999,4
SP00648,John Phillips,Manager,15241.73,5
SP00496,Peter Moore,Sales Associate,15151.27,5

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.salessummarybycategorybrand
LIMIT 10

category,brand,total_sales,num_transactions
Furniture,Urban Ladder,218852.86,68
Sports & Outdoors,Adidas,215638.87999999998,72
Sports & Outdoors,Nike,214567.31,78
Furniture,IKEA,209271.10000000003,76
Electronics,Apple,208293.52000000002,70
Groceries,Tata,206454.00000000012,83
Furniture,Home Centre,202185.35,66
Groceries,Amul,201840.97999999995,72
Groceries,Nestle,201325.87999999998,63
Home Appliances,LG,201209.24,77

In [0]:
%sql
SELECT * FROM workspace.dbt_cvarela.storesalessummary
LIMIT 10

store_id,store_name,store_type,store_location,total_sales,total_transactions
STR_00481,DailyMart,Small Stores / Shops,Dallas,36376.35,11
STR_00496,GrocerEase,Small Stores / Shops,Long Beach,35531.42,9
STR_00137,TechBazaar,Small Stores / Shops,Virginia Beach,33583.17,10
STR_00479,FitNGo,Small Stores / Shops,Detroit,29946.1,11
STR_00317,MegaDeals,Small Stores / Shops,Portland,28890.09,8
STR_00391,DailyMart,Small Stores / Shops,San Jose,28082.100000000002,8
STR_00480,HyperMart,Small Stores / Shops,Tampa,27573.730000000003,9
STR_00245,SmartChoice,Supermarkets,Fort Worth,27169.090000000004,8
STR_00365,ActiveLife,Small Stores / Shops,Chicago,26613.12,9
STR_00257,FabNest,Supermarkets,Albuquerque,25958.91,10